<div class="links">
    <div class="pdf-resume" (click)="openPdfResume()" title="Veiw Resume in PDF">View Resume in PDF <i class="bi bi-box-arrow-up-right"></i></div>
    <div class="icons">
        <div><h2 class="bi bi-linkedin" (click)="appService.openLink('https://www.linkedin.com/in/1031minjung/')" title="open LinkedIn"></h2></div>
        <!-- <div><h2 class="bi bi-github" (click)="appService.openLink('https://github.com/1031minjung')" title="open GitHub"></h2></div>
        <div><h2 class="bi bi-code-square" title="open CodePen"></h2></div> -->
        <div><h2 class="bi bi-envelope-at-fill" (click)="openModal()" title="send MJ an email"></h2></div>
        <div><h2 class="bi bi-clock-history" (click)="openOldPortfolio()" title="visit old portfolio"></h2></div>
        <div>
            <h2 *ngIf="!isDarkMode" class="bi bi-moon-fill" (click)="toggleDisplayMode()" title="change display to Dark Mode"></h2>
            <h2 *ngIf="isDarkMode" class="bi bi-sun-fill" (click)="toggleDisplayMode()" title="change display to Bright Mode"></h2>
        </div>
    </div>
</div>
