.links {
    display: flex;
    flex-direction: column;
    @keyframes blinker {  
        0% { opacity: 1.0; }
        50% { opacity: 0.3; }
        100% { opacity: 1.0; }
    }
    @media only screen and (max-width: 999px) {
        padding: 20px 0 0;
    }
    
    .pdf-resume {
        padding-bottom: 10px;
        opacity: 0.6;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
            opacity: 1;
        }
    }
    .icons {
        display: flex;
        .bi-moon-fill,
        .bi-sun-fill {
            animation: blinker 4s linear 20;
            &:hover {
                animation-name: none;
            }
        }
        & > div {
            padding-right: 10px;
            opacity: 0.6;
            &:hover {
                cursor: pointer;
                opacity: 1;
            }
        }
    }
    @media only screen and (max-width: 699px) {
        padding: 20px 0 4px;
        .pdf-resume {
            padding-bottom: 25px;
        }
    }
}