<div class="app-body" [ngClass]="{
  'dark-mode': appService.displayMode === 'dark',
  'bright-mode': appService.displayMode === 'bright',
}">
  <div class="left">
    <div class="header">
      <h1 class="name">Hi, I am MJ</h1>
      <h2 class="title">FE Developer</h2>
      
    </div>
    <app-links (isDisplayDarkMode)="toggleDisplay($event)"></app-links>
  </div>
  <div class="right">
    <p class="introduction">I am very well organized and experienced software developer. I colaborate at work with other Devs, BSAs, POs, QA team, and UX team to deliver the stories correctly within the time line.</p>

    <h4 class="section-title">WORK EXPERIENCES</h4>
    <span *ngFor="let data of jobData">
      <app-experience [data]="data" [type]="'work'">
      </app-experience>
    </span>

    <h4 class="section-title">EDUCATION</h4>
    <span *ngFor="let data of educationData">
      <app-experience [data]="data" [type]="'edu'">
      </app-experience>
    </span>

    <h4 class="section-title">PROJECTS</h4>
    <p class="about-portfolio">Coded and built with Angular v16 in Visual Studio Code, and deployed with GitHub by MJ. All rights reserved.©</p>
  </div>
</div>

<router-outlet></router-outlet>
