<div class="app-body" [ngClass]="{
  'dark-mode': appService.displayMode === 'dark',
  'bright-mode': appService.displayMode === 'bright',
}">
  <div class="left">
    <div class="header">
      <h1 class="name">Hi, I am MJ!</h1>
      <h2 class="title">Frontend Engineer</h2>
      <p class="note">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam voluptas voluptatum tempora dolore facere impedit deleniti perferendis.</p>
    </div>
    <app-links (isDisplayDarkMode)="toggleDisplay($event)"></app-links>
  </div>
  <div class="right">
    <p class="introduction">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam voluptas voluptatum tempora dolore facere impedit deleniti perferendis, aspernatur, magni ullam recusandae, sint asperiores dolores minima qui officia harum quis tempore.Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <span *ngFor="let data of jobData">
      <app-work-experience [data]="data">
      </app-work-experience>
    </span>

    <div class="pdf-resume" (click)="openPdfResume()">View Resume in PDF <i class="bi bi-box-arrow-up-right"></i></div>

    <p class="about-portfolio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam voluptas voluptatum tempora dolore facere impedit deleniti perferendis, aspernatur, magni ullam recusandae, sint asperiores dolores minima qui officia harum quis tempore.Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
</div>

<router-outlet></router-outlet>
