.work-experience {
    border-radius: 15px;
    @media only screen and (min-width: 1000px) {
        padding: 15px;
        .right {
            max-width: 460px;
        }
    }
    @media only screen and (min-width: 700px) {
        display: flex;
        &.dark-mode:hover {
            background: #4e4e4e;
        }
        &.bright-mode:hover {
            background: rgb(240, 240, 240);
        }
    }
    @media only screen and (max-width: 999px) {
        margin-bottom: 35px;
        padding: 10px 30px;
    }
    @media only screen and (max-width: 699px) {
        margin-bottom: 55px;
        .work-title {
            display: flex;
            flex-direction: column;
        }
        .center-dot,
        .next-line {
            display: none;
        }
    }
    &:hover {
        cursor: default;
    }
    .left {
        min-width: 200px;
        opacity: 0.6;
    }
    .right {
        
        .work-title {
            opacity: 0.9;
        }
        .employer:hover {
            cursor: pointer;
            text-decoration: underline;
        }
        .job-note {
            opacity: 0.6;
        }
    }
}