<div class="work-experience" 
    [ngClass]="{
        'dark-mode': appService.displayMode === 'dark',
        'bright-mode': appService.displayMode === 'bright',
    }">
    <div class="left">
        <div class="date">{{data.date}}</div>
    </div>
    <div class="right">
        <div class="work-title">
            <span class="job-title">{{data.jobTitle}}</span>
            <span class="center-dot">&#183;</span>
            <span class="department">{{data.department}}</span>
            <br>
            <span class="employer" (click)="appService.openLink(data.link)">{{data.employer}} <i class="bi bi-box-arrow-up-right"></i>
            </span>
        </div>
        <p class="job-note">{{data.jobNote}}</p>
        <app-key-word [keywords]="data.keywords">
        </app-key-word>
    </div>
</div>