@import "~bootstrap-icons/font/bootstrap-icons.css";
@import 'bootstrap/scss/bootstrap';

@font-face {
    font-family: "Roboto";
    src: url("./assets/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto-bold";
    src: url("./assets/Roboto-Bold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Roboto-light";
    src: url("./assets/Roboto-Light.ttf") format("truetype");
    font-weight: lighter;
    font-style: normal;
}

body {
    scroll-behavior: smooth;
    font-family: 'Roboto';
    letter-spacing : .1rem;
    display: flex;
    justify-content: center;
    height: 100vh;
    h1 {
        font-family: 'Roboto-bold';
    }
    p, span {
        font-family: 'Roboto-light';
        line-height: 1.5em;
    }
    .center-dot {
        padding: 10px;
    }
}

body:has(.app-body.dark-mode) { 
    background: #0f172a;
    color: white;
}
body:has(.app-body.bright-mode) { 
    background: white;
    color: #0f172a;
}

