.flex-display {
    display: flex;
    padding-top: 10px;
    .key-words {
        padding-right: 10px;
        font-size: small;
        .word {
            padding: 7px 11px;
            border-radius: 14px;
            &.dark-mode {
                background: #183656;
                color: #8bd5e0;
            }
            &.bright-mode {
                background: rgb(221, 231, 242);
                color: darkslategrey;
            }
        }
        
    }
}

