.flex-display {
    display: flex;
    padding-top: 5px;
    flex-wrap: wrap;
    line-height: 37px;
    @media only screen and (min-width: 1000px) {
        max-width: 500px;
    }
    @media only screen and (max-width: 999px) {
        max-width: 700px;
    }
    @media only screen and (max-width: 550px) {
        max-width: 400px;
    }
    .key-words {
        padding-right: 10px;
        font-size: small;
        .word {
            padding: 7px 11px;
            border-radius: 14px;
            white-space: nowrap;
            &.dark-mode {
                background: #62677a;
                color: #9aeef9;
            }
            &.bright-mode {
                background: #dde7f2;
                color: #1a1b1b;
            }
        }
    }
}
