.flex-display {
    display: flex;
    padding-top: 10px;
    @media only screen and (max-width: 599px) {
        display: grid;
        grid-template-columns: 110px 110px;
        gap: 10px;
    }
    .key-words {
        padding-right: 10px;
        font-size: small;
        .word {
            padding: 7px 11px;
            border-radius: 14px;
            &.dark-mode {
                background: #62677a;
                color: #9aeef9;
            }
            &.bright-mode {
                background: #dde7f2;
                color: #1a1b1b;
            }
        }
    }
}
